.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #1d0d0d, #5a2727);
    padding: 20px 20px 200px;
    align-items: center;
}

.home p{
    color: #f1f1f1;
}

.titleContainer {
    font-size: 2.5em;
    padding-top: 80px;
}

.callToAction{
    background-color: aquamarine;
    padding: 10px;
    margin-left: 20px;


}