


/*  Externo  */
.Footer {
    width: 100%;
    background-color: #1f1f1f;
    color: #f1f1f1;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

/*  Interno  */
.footerContent {
    max-width: 1200px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
.Image {
    width: 120px;
    height: auto;
    object-fit: contain;
  }
  
/*  Letra en el footer  */
.footerContent p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  
/*  Letra Footer "titulos"  */
.footerContent b {
    color: #ffffff;
    font-weight: 600;
  }
  
/*  Cambio reactive  */

@media (max-width: 800px) {
    .footerContent {
      flex-direction: column;
      text-align: center;
    }
  
    .Image {
      margin-bottom: 1rem;
    }
  }
  