.Footer{
    display: flex;
    padding-top: 25px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg,#5a2727, #3f0f0f);

}


.Image{
    width: 200px;
    height: 100px;
    padding-bottom: 0px;
}

.Footer p{
    color: #f1f1f1;
    font-size: 2em;
    text-align: center;
    padding-bottom: 30px;

}

.BackgroundFooter{
    background-color: #3a3232;
    padding: 1rem;
    border-radius: 25px;
    width: 93%;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}