
.navBar {
    display: flex;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #4b1717, #ff0000);
    z-index: 100;
  }
  
  .logo {
    color: #f1f1f1;
    font-weight: 600;
    font-size: 1.3em;
  }
  
  .linksContainer {
    display: none;
  }
  
  .navLink {
    font-size: 1.2em;
    font-weight: 500;
    color: #f1f1f1;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
  }
  
  /* Navbar tablets y escritorio */
  @media (min-width: 768px) {
    .navBar {
      height: 70px;
      justify-content: space-evenly;
    }
  
    .linksContainer {
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    .navLink {
      font-size: 1.3em;
      font-weight: 700;
      margin: 0;
      transition: 0.3s;
    }
  
    .navLink:hover {
      font-size: 1.4em;
    }
  }
  