
/* creacion clases navbar */

.navBar{
    display: flex;
    height: 60px;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}


.navOpen {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(145, 74, 74);
    flex-direction: column;
    align-items: center;
}

.navLink {
    display: flex;
    font-size: 2em;
    font-weight: 400;
    color: #f1f1f1;
    padding-top: 90px;
}

.navLink:hover {
    cursor: pointer;
}


/* modificar en el futuro


 .border{
    animation-name: borderanimation;
    height: 1px;
    animation-duration: 1s;
    background-color: rgb(87, 158, 158);
} */

/* en proceso*/

@keyframes borderanimation {
    0%{
        height: 0px;
    }
    100%{
        height: 1px;
    }
    
}

/* Navbar*/

.logo {
    display: flex;
    color: #f1f1f1;
    font-weight: 600;
}


/* Navbar con tamaño menor a 800px*/

@media (min-width: 800px){
    .logo {
        font-size: 1.3em;
    }
    .navBar {
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
    }
    .linksContainer{
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navLink{
        font-weight: 700;
        padding-top: 4px;
        font-size: 1.3em;
        transition: 0.5s;
    }
    .navLink:hover{
        font-size: 1.5em;
    }
    .navOnScroll{
        display: flex;
        height: 60px;
        width: 100%;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        background-color: antiquewhite;
    
    }
} 




.navOnScroll{
    display: flex;
    height: 60px;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;

}

/*
 Borde para el navbar en contacto
 para usar despues en el Sign Up u otra opción
*/

.contactlink{
    display: flex;
    font-size: 1.3em;
    font-weight: 600;
    color: #f1f1f1;
    background-color: black;
    border-radius:  4px;
    padding: 3px;
}